{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">
      Discover the Earth's Hidden Gems with Lango!
    </p>
    <p class="subtitle">
      Your Ultimate Land Geographic Organizer
    </p>
    <p class="box">
      <img src="/images/worldmap.jpeg" alt="Lango: Discover the Earth's Hidden Gems">
    </p>
  </div>
</section>
