{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">
      Lango: Discover the Earth's Hidden Gems with Lango! Your Ultimate Land Geographic Organizer
    </p>
    <p class="box">
      <img src="/images/lango.jpg" alt="Lango: Discover the Earth's Hidden Gems">
    </p>
  </div>
</section>
