{{> menu}}

<section class="section">
  <div class="container">
    <!-- Dashboard Style Analytics Table -->
    <div class="box">
      <h2 class="title is-4">Dashboard</h2>
      <table class="table is-narrow">
        <thead>
          <tr>
            <th>Statistic</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Collections</td>
            <td>{{collections.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="box">
      <h1 class="title">All Collections</h1>

      {{#if collections.length}}
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each collections}}
          <tr>
            <td>{{title}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <p>No collections found.</p>
      {{/if}}
    </div>
  </div>
</section>
