{{> menu}}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <div class="box">
          <h1 class="title has-text-centered">{{collection.title}}</h1>
          <hr>
          <h2 class="subtitle has-text-weight-semibold">Places in this Collection:</h2>
          <div class="table-container">
            {{> list-places}}
          </div>
          <hr>
          <h2 class="subtitle has-text-weight-semibold">Add a New Place:</h2>
          <div class="box">
            {{> add-place}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

