{{> menu active="dashboard"}}

<section class="section">
  {{> add-collection}}
  <br>
  <div class="columns">
    <div class="column">
      {{> list-collections}}
    </div>
    <div class="column">
      {{> collection-image }}
    </div>
  </div>
</section>
