{{> welcome-menu}}

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <p class="title is-4">Get Started with Lango</p>
          <p>Join the community or log in to continue.</p>
          <div class="buttons are-medium is-centered mt-4">
            <a href="/login" class="button is-light">Log In</a>
            <a href="/signup" class="button is-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
