{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      <div>Places</div>
    </div>
    {{> list-all-places}}
  </div>
</section>