{{!-- src/views/user-settings-view.hbs --}}
{{> menu}} <!-- Navigation menu partial -->

<section class="section">
  <div class="container">
    <h1 class="title">User Settings</h1>
    <form action="/user/settings" method="POST">
      <div class="field">
        <label class="label" for="firstName">First Name</label>
        <div class="control">
          <input class="input" type="text" id="firstName" name="firstName" placeholder="Your first name" value="{{user.firstName}}" required>
        </div>
      </div>

      <div class="field">
        <label class="label" for="lastName">Last Name</label>
        <div class="control">
          <input class="input" type="text" id="lastName" name="lastName" placeholder="Your last name" value="{{user.lastName}}" required>
        </div>
      </div>

      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input class="input" type="email" id="email" name="email" placeholder="Your email address" value="{{user.email}}" required>
        </div>
      </div>

      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input class="input" type="password" id="password" name="password" placeholder="New password">
        </div>
        <p class="help">Leave blank to keep your current password.</p>
      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-link">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</section>
