<form action="/dashboard/addcollection" method="POST">
  <div class="field">
    <label class="label">Collection Title</label>
    <input class="input" type="text" placeholder="Enter collection title" name="title" />
  </div>
  <button class="button is-link">Add Collection</button>
</form>