<form class="box" action="/collection/{{collection._id}}/addplace" method="POST" enctype="multipart/form-data">

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Place" name="place">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Latitude" name="lat" value="0" step="any">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Longitude" name="long" value="0" step="any">
      </div>
      
      <div class="card">
      <div class="card-content">
          <div id="file-select" class="file has-name is-fullwidth">
            <label class="file-label"> <input class="file-input" name="imagefile" type="file" name="resume" >
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name"></span>
            </label>
          </div>
      </div>
    </div>
    </div>
  </div>
  <button class="button is-primary" type="submit">Add Place</button>
</form>

<script>
  const fileInput = document.querySelector(".file-input");
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector(".file-name");
      fileName.textContent = fileInput.files[0].name;
    }
  };
</script>
