<form class="box" action="/collection/{{collection._id}}/addplace" method="POST">
  <label>Register a Place:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Place" name="place">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="lat">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="long">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Place</button>
</form>
