<form class="box" action="/collection/{{collection._id}}/addplace" method="POST">
  <label>Enter Place Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="artist">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="duration">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Place</button>
</form>
